<!DOCTYPE HTML>
<html>
<head>
    <title>John Tells All: AWS Queue Realtime Stats</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/vote';

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received: ' + JSON.stringify(msg)).html());
            });

            $("a.vote").bind("click", function(event) {
                jQuery.post('/vote', {value: this.id});
            });
        });
    </script>
</head>
<body>

<h1>Cat Voting Booth</h1>
<img src="http://placekitten.com/300/300">
<br />

Vote: <a class="vote" id="up">UP</a> - <a class="vote" id="down">DOWN</a>
    <h1>Realtime Stats</h1>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
