<!DOCTYPE HTML>
<html>
<head>
    <title>John Tells All: AWS Queue Realtime Stats</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received: ' + JSON.stringify(msg)).html());
            });

            $("a.vote").bind("click", function(event) {
                console.log(this);
                jQuery.post('/vote', {value: this.id});
});
        });
    </script>
</head>
<body>

<h1>Cat Voting Booth</h1>
<img src="http://placekitten.com/300/300">
<br />

Vote: <a class="vote" id="up">UP</a> - <a class="vote" id="down">DOWN</a>
    <h1>Realtime Stats</h1>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
